body{
	font-family: "Roboto";
	background-color: #FAFAFA;	
	margin: 0% auto;
	text-align: center;
}


.logo{
	font-weight: bold;
	font-size: 35px;
	color: #424242;
	margin: 2% auto;
		
}

.container{
	max-width: 180% auto;
	max-height: 0px;
	margin:  4% auto;
	padding-bottom: 0%;
	
}

.block-item{
	background-color: #006064;
	display:inline-block;
	margin: 2px auto;	
	padding-bottom: 5%;
	width: 15%;	
}

img{
	margin-top:20%;
	margin-left:10%;
	cursor: pointer;
}

.block-item:hover{
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.10));
	cursor: default;
	box-shadow: 0 0 5px #333;
  	transition: 0.2s;
  	transform: scale(1.1); 	
}

.github-corner:hover
              .octo-arm{animation:octocat-wave 560ms
              ease-in-out}@keyframes
              octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media
              (max-width:500px){.github-corner:hover
              .octo-arm{animation:none}.github-corner
              .octo-arm{animation:octocat-wave 560ms
              ease-in-out}}
